<div class="port-card">
    <div>
        <span class="port-number"><b>Port:</b> <%-port-%></span>
        <a href="/user/reports/<%=id%>/<%=port%>"><span class="port-readmore">More <i class="fa-solid fa-arrow-right"></i></span></a>
    </div>
    <span class="port-service"><%-service-%> <%-version-%></span>
</div>