<%-include("../partials/header", {title: "Dashboard"})-%>

<body>
    <div class="sidebar" data-theme="light">
        <%-include("../partials/sidebar")-%>
    </div>
    <div class="content-home-result" data-theme="light">
        <div class="result-1">

            <div class="scan-result">Port: <%-port-%></div>
            <%-include("../partials/commandline", {text: "PORT     STATE SERVICE     VERSION ", result:data})-%>
        </div>
        <div class="result-2">
            <%if (port != "all" && result){%>
                <%result.forEach(item => { if (item.port == port && item.result){%>
                    <div class="scan-result">Additinal script execution</div>
                    <%-include("../partials/commandline", {text: undefined, result:item.result})-%>
                <%}})}else if (port == "all"){%>
                    <div class="scan-result">Additinal script execution</div>
                    <%-include("../partials/commandline", {text: undefined, result:result})-%>
            <%}%>
        </div>
    </div>
<%-include("../partials/footer")-%>
