<%-include("../partials/header", {title: "Dashboard"})-%>
<body>
    <div class="sidebar" data-theme="light">
        <%-include("../partials/sidebar")-%>
    </div>
    <div class="content-home" data-theme="light">
            <table class="styled-table table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Target IP</th>
                    <th>Source IP</th>
                    <th>Source Port</th>
                    <th>Username</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <%const humanReadableDate = (date) => {
                    const givenDate = new Date(date);
                    const formatter = new Intl.DateTimeFormat('en-US', { day: '2-digit', month: '2-digit', year: 'numeric' });
                    const formattedDate = formatter.format(date);
                    return `${formattedDate} ${givenDate.getHours()}:${givenDate.getMinutes()}:${givenDate.getSeconds()}`
                  }%>
                  <%let no = 1;data.forEach((item)=>{%>
                    <tr>
                      <td><%-no-%></td>
                      <td><%-humanReadableDate(item.date)-%></td>
                      <td><%-item.target-%></td>
                      <td><%-item.origin.ip-%></td>
                      <td><%-item.origin.port-%></td>
                      <td><%-item.origin.username-%></td>
                      <td><%-item.origin.email-%></td>
                    </tr>
                  <%no+=1})%>
                </tbody>
              </table>
    </div>
<%-include("../partials/footer")-%>
