<%-include("../partials/header", {title: "Dashboard"})-%>

<body>
    <div class="sidebar" data-theme="light">
        <%-include("../partials/sidebar")-%>
    </div>
    <div class="content-home" data-theme="light">
        <div class="scan-result">Scan Result</div>
        <div class="port-report">
            <%-include("../partials/portcard", {id:43897534750437, port:"22", service:"nginx", version:"0.11.0"})-%>
            <%-include("../partials/portcard", {id:43897534750437, port:"23", service:"nginx", version:"0.11.0"})-%>
            <%-include("../partials/portcard", {id:43897534750437, port:"25", service:"nginx", version:"0.11.0"})-%>
            <%-include("../partials/portcard", {id:43897534750437, port:"25", service:"nginx", version:"0.11.0"})-%>
            <%-include("../partials/portcard", {id:43897534750437, port:"25", service:"nginx", version:"0.11.0"})-%>
            <%-include("../partials/portcard", {id:43897534750437, port:"25", service:"nginx", version:"0.11.0"})-%>
            <%-include("../partials/portcard", {id:43897534750437, port:"25", service:"nginx", version:"0.11.0"})-%>
        </div>
    </div>
<%-include("../partials/footer")-%>
