<%-include("../partials/header", {title: "Dashboard"})-%>

<body>
    <div class="sidebar" data-theme="light">
        <%-include("../partials/sidebar")-%>
    </div>
    <div class="content-home" data-theme="light">
        <div class="scan-result">Scan Result: <%-data.target-%></div>
        <div class="port-report">
            <%data.ports.forEach(port => {if(port.port){%>
                <%-include("../partials/portcard", {id:data.id, port:port.port, service:port.service, version:port.version})-%>
            <%}});%>
            <!--END LOOP-->
            <%-include("../partials/portcard", {id:data.id, port:"all", service:"Get Report", version:""})-%>
        </div>
    </div>
<%-include("../partials/footer")-%>
