<div class="sidebar-top">
  <%-include("hamburger")-%>
  <div class="side-item" data-theme="light" onclick="selected(this)">
    <a href="/admin/profile">
      <div class="item-logo">
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="item-name">
        <span>Profile</span>
      </div>
    </a>
  </div>
  <%-include("sidebar-item", {sidebar_navigation: "submit", sidebar_item: "New scan", sidebar_logo: '<i class="fa-solid fa-magnifying-glass"></i>'})-%>
  <%-include("sidebar-item", {sidebar_navigation: "reports", sidebar_item: "Scans", sidebar_logo: '<i class="fa-solid fa-clock-rotate-left"></i>'})-%>
  <%-include("sidebar-item", {sidebar_navigation: "users", sidebar_item: "Users", sidebar_logo: '<i class="fa-solid fa-users"></i>'})-%>
  <%-include("sidebar-item", {sidebar_navigation: "whitelist", sidebar_item: "Whitelist", sidebar_logo: '<i class="fa-solid fa-receipt"></i>'})-%>
</div>
<div class="sidebar-bottom">
  <%-include("sidebar-item", {sidebar_navigation: "log", sidebar_item: "Log", sidebar_logo: '<i class="fa-solid fa-circle-info" style="color: #00aeff"></i>'})-%>
  <%-include("light")-%>
  <%-include("sidebar-item", {sidebar_navigation: "../logoff", sidebar_item: "Logoff", sidebar_logo: '<i class="fa-solid fa-door-open" style="color: #ff0000"></i>'})-%>
</div>